* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;

}

input {
    padding: 5px;
}

header {
    background-color: whitesmoke;
    width: 100%;
    height: 5vh;
    padding: 20px;
    display: flex;
}

.firsthead {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

}

.secondhead {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.logokapsayici {
    width: 35%;
    height: 21%;
    background-image: url('../img/logo/google-log.png');
    overflow: hidden;
    background-size: cover;
    /* Görselin kapsayıcıyı tamamen kaplaması */
    background-position: center;
    background-repeat: no-repeat;
    /* Görselin tekrar etmemesi */
}

.container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.second {
    width: 100vw;
    height: 15vh;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.links {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: end;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0px;
}

.blm {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3px;
    float: left;
    align-items: center;
    gap: 10px;
}

.blm2 {
    display: flex;
    float: right;
    align-items: center;
    gap: 10px;
}

footer {

    text-align: center;
}

.search {
    border-radius: 10px;
}

.search1 {
    background-image: url("../img/voicelogo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}