* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
input{
    padding: 5px;
}
.logokapsayici {


    width: 35%;
    height: 21%;
    background-image: url('../img/logo/google-log.png');
    overflow: hidden;
    background-size: cover;
    /* Görselin kapsayıcıyı tamamen kaplaması */
    background-position: center;
    background-repeat: no-repeat;
    /* Görselin tekrar etmemesi */
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second {
   
    width: 100%;
    height: 15%;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}

.links {
    padding: 20px;
    width: 40%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.blm {
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {

    text-align: center;
}